body {
    font-family: -apple-system, BlinkMacSystemFont,'Helvetica Neue', sans-serif !important;
    margin: 0;
    padding: 0;
    font-size: small;
    background-color: rgb(233, 233, 233);
}

.no-select {
    -webkit-touch-callout: default; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                            supported by Chrome, Opera and Firefox */
}

main {
    height: 100%;
    width: 100%;
}

section {
    height: 90vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0.5rem;
    box-sizing: border-box;
    flex-direction: column;
    text-align: center;
}

nav {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    padding: 0.5rem;
    box-shadow: 0 2px 2px 0px gray;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: white;
    z-index: 1;
}

nav header {
    box-sizing: border-box;
    width: max-content;
}

h2, h2 a, h2 a:hover{
    padding: 0;
    margin: 0;
    font-size: 2rem;
    font-weight: bold;
    color: black;
    text-decoration: none;
}

a, a:hover {
    text-decoration: none;
    color: black;
}

nav header summary div {
    visibility: hidden;
    font-size: 0.5rem;
}

nav summary, #action {
    font-style: italic;
    text-decoration: none;
    position: relative;
}

nav summary:after, #action:after {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0%;
    left: -0.15em;
    right: -0.15em;
    bottom: 0;
    background-color: #89e894d5;
}

#user-auth-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-weight: bold;
    font-size: 1.25rem;
}

summary:hover {
    cursor: auto;
}

#user-auth-buttons div a{
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    color: black;
    text-decoration: none;
}

.arrow-container {
    border: none;
    background-color: transparent;
}

.arrow-container:focus, button:focus {
    outline: 0;
}

label {
    font-weight: bold;
    font-size: 1.2rem;
}

form input, form select {
    margin-bottom: 1.15rem;
}