.resource, #create-resource {
    display: flex;
    flex-direction: row;
    background-color: white;
    padding: 1.25rem;
    margin-bottom: 1rem;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#create-resource button i {
    margin-left: auto;
    border-radius: 50%;
    background-color: #89e894d5;
    padding: 0.5rem;
    margin-right: 1rem;
}

#filter-section {
    background-color: white;
    visibility: hidden;
}

#resource-grid {
    margin-top: 2rem;
    width: 100%;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(250px, auto));
}

.vote {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-right: 1rem;
}

.vote button {
    outline: none;
    background-color: transparent;
    border: none;
}

.vote button i {
    margin-left: auto;
    border-radius: 50%;
    padding: 0.35rem;
}

.vote button .fa-arrow-up {
    background-color: #00ff1ed5;
}

.vote-number {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    font-size: 1.25rem;
    color: gray;
}

.vote button .fa-arrow-down {
    background-color: #ff0000d5;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: left;
}

.resource-title {
    font-weight: bold;
    font-size: 1.5rem;
}

#resource-container {
    margin: 2rem;
    margin-left: 3rem;
    margin-right: 3rem;
}