body {
    font-family: -apple-system, BlinkMacSystemFont,'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    font-size: small;
    /* overflow-x: hidden; */
    /* background: linear-gradient(217deg, rgba(255,0,0,.8), rgba(255,0,0,0) 70.71%),
                linear-gradient(127deg, rgba(0,255,0,.8), rgba(0,255,0,0) 70.71%),
                linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%); */
    /* background: repeating-linear-gradient(217deg, rgba(255,0,0,.8), rgba(255,0,0,0) 70.71%),
                repeating-linear-gradient(127deg, rgba(0,255,0,.8), rgba(0,255,0,0) 70.71%),
                repeating-linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%); */
}

main {
    height: 100%;
    width: 100%;
}

section {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    -webkit-touch-callout: default; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                            supported by Chrome, Opera and Firefox */
}

nav {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    padding: 0.5rem;
    box-shadow: 0 2px 2px 0px gray;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

nav header {
    box-sizing: border-box;
    width: min-content;
}

nav header h2 {
    padding: 0;
    margin: 0;
    font-size: 1.5rem;
}

nav header summary div {
    visibility: hidden;
    font-size: 0.4rem;
}

section header {
    text-align: left;
    /* color: white; */
    color: black;
    margin-bottom: 2rem;
}


h1 {
    font-size: 4.5rem;
    margin-bottom: 0;
}

summary {
    font-style: italic;
    text-decoration: none;
    position: relative;
}

summary:after {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0%;
    left: -0.15em;
    right: -0.15em;
    bottom: 0;
    background-color: rgba(240, 56, 56, 0.767);
    /* background-color: #77dd77ce; */
    /* background-color: rgba(70, 255, 178, 0.767); */
}

#action {
    font-weight: bold;
}

#user-auth-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-weight: bold;
    font-size: 1.25rem;
}

#user-auth-buttons div {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}
