<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resourceful - Resource</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/0cf2afd459.js" crossorigin="anonymous"></script>
    <style>
        @import url("/css/main.css");
        @import url("/css/resource.css");
    </style>
</head>

<body>
    <main>
        <nav class="no-select">
            <header>
                <h2><a href="/">Resourceful</a></h2>
                <summary>
                    <div>resourceful</div>
                </summary>
            </header>
            <div id="user-auth-buttons">
                <div><a href="/auth/login" class="btn btn-outline-success mx-2">log in</a></div>
                <div><a href="/auth/register" class="btn btn-outline-success mx-2">register</a></div>
            </div>
        </nav>
        <section class="no-select">
            <div id="container">
                <div id="resource-card">
                    <h2>{{resource.title}}</h2>
                    <div>
                        <b>Description: </b>{{ resource.description }}
                    </div>
                    <div>
                        <b>Author: </b>{{ resource.author }}
                    </div>
                    <div>
                        <b>Resource link: </b> <a style="color: blue;" href="{{ resource.link }}">{{ resource.link }}</a>
                    </div>
                    <div>
                        <b>Experience level: </b> {{ resource.experienceLevel }}
                    </div>
                    <div>
                        <b>Resource type: </b> {{resource.type}}
                    </div>
                </div>
            </div>
        </section>
    </main>
</body>

</html>