<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resourceful - JavaScript</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/0cf2afd459.js" crossorigin="anonymous"></script>
    <style>
        @import url("/css/main.css");
        @import url("/css/resources.css");
    </style>
</head>

<body>
    <main>
        <nav class="no-select">
            <header>
                <h2><a href="/">Resourceful</a></h2>
                <summary>
                    <div>resourceful</div>
                </summary>
            </header>
            <div id="user-auth-buttons">
                <div><a href="/auth/login" class="btn btn-outline-success mx-2">log in</a></div>
                <div><a href="/auth/register" class="btn btn-outline-success mx-2">register</a></div>
            </div>
        </nav>
        <section class="no-select">
            <h2>{{topic.name}}</h2>
            <div id="resource-grid">
                <div>
                    <div id="resource-container">
                        {% for resource in resources %}
                        <div class="resource">
                            <div class="info">
                                <div class="resource-title">
                                    <a href="/unauthenticated/resources/{{resource.id}}">{{ resource.title }}</a>
                                </div>
                                <div class="resource-desc">
                                    <b>Description: </b>{{ resource.description }}
                                </div>
                                <div class="resource-author">
                                    <b>Author: </b>{{ resource.author }}
                                </div>
                                <div class="resource-link">
                                    <b>Resource link: </b><a style="color: blue;" href="{{ resource.link }}">{{ resource.link }}</a>
                                </div>
                                <div class="resource-level">
                                    <b>Experience level: </b>{{ resource.experienceLevel }}
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            </div>
        </section>
    </main>
</body>

</html>