<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resourceful - Login</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script> -->
    <!-- <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script> -->
    <style>
        @import url('/css/main.css');
        @import url('/css/auth.css');
    </style>
</head>

<body>
    <main>
        <nav class="no-select">
            <header>
                <h2><a href="/">Resourceful</a></h2>
                <summary>
                    <div>resourceful</div>
                </summary>
            </header>
            <div id="user-auth-buttons">
                <div><a href="/auth/login">log in</a></div>
                <div><a href="/auth/register">register</a></div>
            </div>
        </nav>
        <section class="no-select" style="justify-content: center">
            <form method="POST" action="/auth/register">
                <div class="centered-card">
                    <h2>Register</h2>
                    <div>
                        <label for="register-username">Username</label>
                        <input type="text" class="form-control" placeholder="Enter username"
                            aria-label="Enter username" name="username" id="username" required>
                        <label for="register-password">Password</label>
                        <input type="password" class="form-control" placeholder="Enter password"
                            aria-label="Enter password" name="password" id="password" required>
                        <label for="register-password-confirm">Confirm Password</label>
                        <input type="password" class="form-control" placeholder="Confirm password"
                            aria-label="Confirm password" required>
                    </div>
                    <button type="submit" class="btn btn-success">Register</button>
                </div>
            </form>
        </section>
    </main>
</body>

</html>