<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resourceful - JavaScript</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/0cf2afd459.js" crossorigin="anonymous"></script>
    <style>
        @import url("/css/main.css");
        @import url("/css/resources.css");
    </style>
    <script src="/js/vote.js"></script>
</head>

<body>
    <main>
        <nav class="no-select">
            <header>
                <h2><a href="/">Resourceful</a></h2>
                <summary>
                    <div>resourceful</div>
                </summary>
            </header>
            <div id="user-auth-buttons">
                <div><a href="/authenticated/savedresources" class="btn btn-outline-success mx-2">saved resources</a></div>
                <div><a href="/auth/logout" class="btn btn-outline-danger mx-2">log out</a></div>
            </div>
        </nav>
        <section class="no-select">
            <h2>JavaScript</h2>
            <div id="resource-grid">
                <div>
                    <div id="resource-container">
                        <div id="create-resource">
                            <button type="button" class="arrow-container" data-toggle="modal"
                                data-target="#create-resource-modal">
                                <i class="fas fa-plus"></i>
                            </button>
                            <div>
                                <div class="resource-title">Create Resource</div>
                            </div>
                        </div>
                        {% for resource in resources %}
                        <div class="resource">
                            <div class="vote">
                                <button onclick="vote('{{resource.id}}', 1)"><i class="fas fa-arrow-up"></i></button>
                                <div class="vote-number" id="vote-num-{{resource.id}}">
                                    {{ resource.votes }}
                                </div>
                                <button onclick="vote('{{resource.id}}', -1)"><i class="fas fa-arrow-down"></i></button>
                            </div>
                            <div class="info">
                                <div class="resource-title">
                                    <a href="">{{ resource.title }}</a>
                                </div>
                                <div class="resource-desc">
                                    <b>Description: </b>{{ resource.description }}
                                </div>
                                <div class="resource-link">
                                    <b>Resource link: </b>{{ resource.link }}
                                </div>
                                <div class="resource-level">
                                    <b>Experience level: </b>{{ resource.experienceLevel }}
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            </div>
        </section>
    </main>
    <div class="modal fade" id="create-resource-modal" tabindex="-1" aria-labelledby="create-resource-label"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title">Create Resource</h2>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form method="POST" action="/authenticated/resources">
                    <div class="modal-body">
                        <input
                                class="form-control"
                                type="hidden"
                                value="{{topic._id}}"
                                name="topic"
                            />
                        <label for="title">Title</label>
                        <input class="form-control" type="text" placeholder="Resource title" name="title" required>
                        <label for="description">Description</label>
                        <input class="form-control" type="text" placeholder="Resource description" name="description"
                            required>
                        <label for="link">Link</label>
                        <input class="form-control" type="text" placeholder="Resource link" name="link" required>
                        <label for="author">Author</label>
                        <input class="form-control" type="text" placeholder="Resource author" name="author">
                        <label for="level">Experience level</label>
                        <select name="experienceLevel" class="custom-select">
                            <option value="Beginner">Beginner</option>
                            <option value="Intermediate">Intermediate</option>
                            <option value="Advanced">Advanced</option>
                        </select>
                        <label for="type">Type</label>
                        <select name="type" class="custom-select">
                            <option value="Book">Book</option>
                            <option value="Website">Website</option>
                            <option value="Podcast">Podcast</option>
                            <option value="Course">Course</option>
                            <option value="Video">Video</option>
                            <option value="Article">Article</option>
                        </select>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-success">Create Resource</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>

</html>