<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resourceful - JavaScript</title>
    <script src="https://kit.fontawesome.com/0cf2afd459.js" crossorigin="anonymous"></script>
    <style>
        @import url("/css/main.css");
        @import url("/css/resources.css");
    </style>
</head>

<body>
    <main>
        <nav class="no-select">
            <header>
                <h2><a href="/">Resourceful</a></h2>
                <summary>
                    <div>resourceful</div>
                </summary>
            </header>
            <div id="user-auth-buttons">
                <div><a href="/auth/logout">log out</a></div>
                <div><a href="">saved resources</a></div>
            </div>
        </nav>
        <section class="no-select">
            <div style="align-self: flex-start;"><a href="/">Back to Computer Science</a></div>
            <h2>JavaScript</h2>
            <div id="resource-grid">
                <div id="filter-section">
                    filter section
                </div>
                <div>
                    <div id="resource-container">
                        <div class="resource">
                            <div class="vote">
                                <div><i class="fas fa-arrow-up"></i></div>
                                <div>vote number</div>
                                <div><i class="fas fa-arrow-down"></i></div>
                            </div>
                            <div class="info">
                                <div class="resource-title">title</div>
                                <div class="resource-desc">desc</div>
                                <div class="resource-link">link</div>
                                <div class="resource-level">level</div>
                            </div>
                        </div>
                        <div class="resource">
                            <div class="vote">
                                <div><i class="fas fa-arrow-up"></i></div>
                                <div>vote number</div>
                                <div><i class="fas fa-arrow-down"></i></div>
                            </div>
                            <div class="info">
                                <div class="resource-title">title</div>
                                <div class="resource-desc">desc</div>
                                <div class="resource-link">link</div>
                                <div class="resource-level">level</div>
                            </div>
                        </div>
                        <div class="resource">
                            <div class="vote">
                                <div><i class="fas fa-arrow-up"></i></div>
                                <div>vote number</div>
                                <div><i class="fas fa-arrow-down"></i></div>
                            </div>
                            <div class="info">
                                <div class="resource-title">title</div>
                                <div class="resource-desc">desc</div>
                                <div class="resource-link">link</div>
                                <div class="resource-level">level</div>
                            </div>
                        </div>
                        <div class="resource">
                            <div class="vote">
                                <div><i class="fas fa-arrow-up"></i></div>
                                <div>vote number</div>
                                <div><i class="fas fa-arrow-down"></i></div>
                            </div>
                            <div class="info">
                                <div class="resource-title">title</div>
                                <div class="resource-desc">desc</div>
                                <div class="resource-link">link</div>
                                <div class="resource-level">level</div>
                            </div>
                        </div>
                        <div class="resource">
                            <div class="vote">
                                <div><i class="fas fa-arrow-up"></i></div>
                                <div>vote number</div>
                                <div><i class="fas fa-arrow-down"></i></div>
                            </div>
                            <div class="info">
                                <div class="resource-title">title</div>
                                <div class="resource-desc">desc</div>
                                <div class="resource-link">linklinklinklinklinklinklinklinklinklinklinklinklinklinklinklinklinklinklinklinklinklinklinklinklinklinklinklinklinklinklinklinklinklinklinklinklinklinklinklink</div>
                                <div class="resource-level">level</div>
                            </div>
                        </div>
                        <div class="resource">
                            <div class="vote">
                                <div><i class="fas fa-arrow-up"></i></div>
                                <div>vote number</div>
                                <div><i class="fas fa-arrow-down"></i></div>
                            </div>
                            <div class="info">
                                <div class="resource-title">title</div>
                                <div class="resource-desc">desc</div>
                                <div class="resource-link">link</div>
                                <div class="resource-level">level</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
</body>

</html>