<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <main>
        <nav class="no-select">
            <header>
                <h2><a href="/">Resourceful</a></h2>
                <summary>
                    <div>resourceful</div>
                </summary>
            </header>
            <div id="user-auth-buttons">
                <div><a href="/authenticated/savedresources" class="btn btn-outline-success mx-2">saved resources</a></div>
                <div><a href="/auth/logout" class="btn btn-outline-danger mx-2">log out</a></div>
            </div>
        </nav>
    </main>
</body>
</html>