<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Resourceful -</title>
        <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
            integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
            crossorigin="anonymous"
        />
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
        <script
            src="https://kit.fontawesome.com/0cf2afd459.js"
            crossorigin="anonymous"
        ></script>
        <style>
            @import url("/css/main.css");
            @import url("/css/dashboard.css");
        </style>
    </head>

    <body>
        <main>
            <nav class="no-select">
                <header>
                    <h2><a href="/">Resourceful</a></h2>
                    <summary>
                        <div>resourceful</div>
                    </summary>
                </header>
                <div id="user-auth-buttons">
                    <div><a href="/authenticated/savedresources" class="btn btn-outline-success mx-2">saved resources</a></div>
                    <div><a href="/auth/logout" class="btn btn-outline-danger mx-2">log out</a></div>
                </div>
            </nav>
            <section class="no-select">
                <div style="align-self: flex-start">
                    <a href="/">Back to Categories</a>
                </div>
                <div id="search-prompt">
                    <summary><b>{{ category.name }}</b></summary>
                </div>
                <div id="topic-container">
                    <div class="topic">
                        <div>
                            <div class="topic-title">Create Topic</div>
                        </div>
                        <button
                            type="button"
                            class="arrow-container"
                            data-toggle="modal"
                            data-target="#create-topic-modal"
                        >
                            <i class="fas fa-plus"></i>
                        </button>
                    </div>
                    {% for topic in topics %}
                    <div class="topic">
                        <div>
                            <div class="topic-title">{{ topic.name }}</div>
                            <div class="topic-num">
                                {{ topic.numResources }} resources
                            </div>
                        </div>
                        <div class="arrow-container">
                            <a href="/authenticated/resources/topic/{{topic._id}}">
                                <i class="fas fa-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                    {% endfor %}
                    <!-- <div class="topic">
                        <div>
                            <div class="topic-title">JavaScript</div>
                            <div class="topic-num">10 resources</div>
                        </div>
                        <div class="arrow-container">
                            <a href="http://google.com">
                                <i class="fas fa-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                    <div class="topic">
                        <div>
                            <div class="topic-title">Python</div>
                            <div class="topic-num">24 resources</div>
                        </div>
                        <div class="arrow-container">
                            <a href="http://google.com">
                                <i class="fas fa-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                    <div class="topic">
                        <div>
                            <div class="topic-title">
                                Artificial Intelligence
                            </div>
                            <div class="topic-num">4 resources</div>
                        </div>
                        <div class="arrow-container">
                            <a href="http://google.com">
                                <i class="fas fa-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                    <div class="topic">
                        <div>
                            <div class="topic-title">Blockchain</div>
                            <div class="topic-num">6 resources</div>
                        </div>
                        <div class="arrow-container">
                            <a href="http://google.com">
                                <i class="fas fa-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                    <div class="topic">
                        <div>
                            <div class="topic-title">Java</div>
                            <div class="topic-num">12 resources</div>
                        </div>
                        <div class="arrow-container">
                            <a href="http://google.com">
                                <i class="fas fa-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                    <div class="topic">
                        <div>
                            <div class="topic-title">Databases</div>
                            <div class="topic-num">7 resources</div>
                        </div>
                        <div class="arrow-container">
                            <a href="http://google.com">
                                <i class="fas fa-arrow-right"></i>
                            </a>
                        </div>
                    </div> -->
                </div>
            </section>
        </main>
        <div
            class="modal fade"
            id="create-topic-modal"
            tabindex="-1"
            aria-labelledby="create-topic-label"
            aria-hidden="true"
        >
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h2 class="modal-title">Create Topic</h2>
                        <button
                            type="button"
                            class="close"
                            data-dismiss="modal"
                            aria-label="Close"
                        >
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form method="POST" action="/authenticated/topics">
                        <div class="modal-body">
                            <input
                                class="form-control"
                                type="text"
                                value="{{category._id}}"
                                name="categoryId"
                                readonly
                            />
                            <input
                                class="form-control"
                                type="text"
                                placeholder="Topic name"
                                name="name"
                            />
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-success">
                                Create Topic
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>
